{% extends 'MainBundle:Layout:layout.html.twig' %}

{% import 'MainBundle:Template:macroses.html.twig' as macroses %}

{% block body %}

    <h2>Профиль Участника</h2>
    <h4>Мои личные данные</h4>

    {{ form_start(form) }}
    {{ macroses.text_field(form.last_name, 140) }}
    {{ macroses.text_field(form.first_name, 140) }}
    {{ macroses.text_field(form.middle_name, 140) }}
    {{ macroses.text_field(form.phone_number, 140) }}
    {{ macroses.button_field(form.submit) }}
    {{ form_end(form) }}

{% endblock %}
