{% extends 'MainBundle:Layout:layout.html.twig' %}

{% block body %}

    <h2>Личный кабинет кладовщика</h2>

    <h3>Распределен на склады</h3>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>Имя Склада</th>
        </tr>
        {% for key, stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.stock|e }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pa_menu">
        <ul>
            {% if is_granted('ROLE_EDIT_PD') %}
                <li>
                    <a href="{{ path(profile_route) }}">Редактировать личные данные</a>
                </li>
            {% endif %}

            {#{% if is_granted('ROLE_CREATE_ORDER') %}#}
                <li>
                    <a href="{{ path("storage_index") }}">Список распределённых товаров</a>
                </li>
            {#{% endif %}#}
            <li>
                <a href="{{ path('worker_create_storage_index') }}">Добавить товраы к маказину\ складу</a>
            </li>

            {#{% if is_granted('ROLE_Members_ORDERS_LIST') %}#}

                {#<li>#}
                    {#<a href="#">Добавить магазину маказину товары</a>#}
                    {#<a href="{{ path('Members_orders_list') }}">Отгрузить маказину товары</a>#}
                {#</li>#}
            {#{% endif %}#}
        </ul>
    </div>

{% endblock %}
