{% extends 'MainBundle:Layout:layout.html.twig' %}

{% block body %}

    <h2>Личный кабинет кладовщика</h2>

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>login</th>
            <th>group</th>
        </tr>
        {#{% if users is defined %}#}
        {% for key, stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.stock|e }}</td>
                {#<td>{{ user.groups[0] }}</td>#}
            </tr>
        {% endfor %}
        {#{% endif %}#}
    </table>
    <div class="pa_menu">
        <ul>
            {% if is_granted('ROLE_EDIT_PD') %}
                <li>
                    <a href="{{ path(profile_route) }}">Редактировать личные данные</a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_CREATE_ORDER') %}
                <li>
                    <a href="{{ path('Members_create_order') }}">Создать заказ</a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_Members_ORDERS_LIST') %}
                <li>
                    <a href="{{ path('Members_orders_list') }}">Мои заказы</a>
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}
