{% extends 'MainBundle:Layout:layout.html.twig' %}

{% block body %}

    <h2>Личный кабинет админа</h2>
    {#<p><b>Мой баланс: </b>{{ Admin.getBalance() | number_format(2, '.', ' ') }} руб.</p>#}
    {#{{  }}#}
    {#{% for key, user in users %}#}
    {#{{ user.username }}#}
    {#{{ user.groups.key }}#}
    {#{% endfor %}#}

    <div class="pa_menu">
        <ul>
            {% if is_granted('ROLE_EDIT_PD') %}
                <li>
                    <a href="{{ path(profile_route) }}">Редактировать личные данные</a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_CREATE_ORDER') %}
                <li>
                    <a href="{{ path('admin_create_order') }}">Создать заказ</a>
                </li>
            {% endif %}

            {#{% if is_granted('ROLE_ADMIN_USER_LIST') %}#}
                <li>
                    <a href="{{ path('admin_user_list') }}">Мои заказы</a>
                </li>
            {#{% endif %}#}
        </ul>
    </div>

{% endblock %}
