<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css') }}">
    {% block link %}{% endblock %}

    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block script %}{% endblock %}

    <title>Благость</title>
</head>

<body>
    {% block wrapper %}
        <div class="wrapper">
            <header>
                <div class="inner">
                    {{ render(controller('BlagostBundle:Default:header')) }}
                </div>
            </header>

            <section class="content">
                <div class="inner">
                    {% include 'BlagostBundle:Layout:alert.html.twig' %}
                    {% block body %}{% endblock %}
                </div>
            </section>

            <footer>
                <div class="inner">
                    <p class="center">Copyright &copy; 2016 Система «Благость»</p>
                </div>
            </footer>
        </div>
    {% endblock %}
</body>
</html>
