{% extends "::base.html.twig" %}
{% block body %}
    {{ dump(teasers) }}
    <div class="page_title" id="page_title">
        <h1>Блог</h1>
    </div>
    {% for teaser in teasers %}
    <article>
        <h2>
            <a href="{{ path('blog_view',{'id':teaser.id}) }}">{{ teaser.title }}</a>
        </h2>

        <div class="container blog-container">
            {{ teaser.summary|raw }}
        </div>
        <nav role="navigation">
            <ul>
                <li class="read-more">
                    <a href="{{ path('blog_view',{'id':teaser.id}) }}">Далее</a>
                </li>
            </ul>
        </nav>
    </article>
    {% endfor %}
{% endblock %}