{% extends "::page.html.twig" %}
{% block site_title %}{% endblock %}
{% block main %}
    {% for teaser in teasers %}
    <article class="blog blog-teaser">
        <h2 class="article-title">
            <a href="{{ path('blog_view',{'id':teaser.id}) }}">{{ teaser.title }}</a>
        </h2>
        <div class="field field-created">
            {{ teaser.created|date("d-m-Y H:m") }}
        </div>
        <div class="container blog-container">
            {{ teaser.summary|raw }}
        </div>
        <nav class="link-menu" role="navigation">
            <ul>
                <li class="read-more">
                    <a href="{{ path('blog_view',{'id':teaser.id}) }}">Далее</a>
                </li>
            </ul>
        </nav>
    </article>
    {% endfor %}
{% endblock %}